<h1>Search for a User</h1>

<% form_tag :action=>:show do %>
  <%= label_tag 'user[name]', 'Which user?' %> 
  <%= text_field_with_auto_complete :user, :name, {}, {:method => :get } %>
  <br/>
  <%= submit_tag 'Find' %>
<% end %>

<br />

<%= link_to 'New user', new_user_path %>